.App {
  text-align: center;
}

html {
  background-image: url("/public/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page-container {
  max-width: 1200px;
  margin: 70px auto 20px auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}

.user-details-container {
  margin: 70px auto 20px auto;
  background-color: white;
  height: auto;
  min-height: 524px;
}

.users-container {
  min-height: 495px;
  border-radius: 20px;
  background: white;
  padding: 20px;
  width: 100%;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.user-preview {
  width: 100%;
  position: relative;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.1s ease-in-out 0s;
}

.user-preview:hover {
  background-color: rgba(156, 39, 176, 0.12);
}

.user-preview:hover::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgba(156, 39, 176);
  position: absolute;
  left: -1%;
}

.open-user-svg {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
}

.users-searchbar-container {
  width: 100%;
  position: relative;
}

.users-searchbar {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  outline: none;
}

.users-searchbar:focus {
  border: 2px solid rgba(156, 39, 176, 0.5);
  background-color: rgba(156, 39, 176, 0.12);
  outline: none;
}

.searchbar-svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13%;
  left: 15px;
}

.searchbar-delete {
  position: absolute;
  width: 38px;
  height: 38px;
  top: -1%;
  right: 1%;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.searchbar-delete:hover,
.open-user-svg:hover {
  transform: scale(1.2);
}

.back-to-list-btn,
.add-user-btn {
  position: relative;
  border: none;
  outline: none;
  border-radius: 20px;
  width: fit-content;
  padding: 9px 12px 9px 30px;
  height: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.add-user-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 9px 12px 9px 8px;
  width: 100%;
  justify-content: center;
}

.back-to-list-btn:hover,
.add-user-btn:hover {
  background-color: rgba(156, 39, 176, 0.5);
  color: white;
}

.back-delete-btn {
  display: flex;
  align-items: center;
  color: white;
  outline: none;
  border: none;
  background-color: crimson;
  border-radius: 20px;
  width: fit-content;
  padding: 9px 12px;
  height: fit-content;
  cursor: pointer;
  height: 35.5px;
  transition: all 0.3s ease-in-out 0s;
}

.back-delete-btn:hover {
  background-color: rgb(176, 16, 48);
}

.back-delete-btn img {
  width: 20px;
  height: 20px;
}

.back-to-list-svg {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 5%;
}

.header {
  background: white;
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  font-size: 10px;
  align-items: center;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(156, 39, 176, 0.5);
  gap: 10px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header-svg {
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.header-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header-name {
  font-size: 16px;
  font-weight: 600;
  color: rgba(156, 39, 176);
}

.add-user-modal {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  background-color: rgba(156, 39, 176, 0.12);
  height: 100%;
}

.modal-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.modal-title img,
.add-user-btn img {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.pagination {
  width: 100%;
  grid-column: 1 / 3;
}

.user-details-container {
  text-align: left;
  border-radius: 20px;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.user-name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.user-detail {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-detail img {
  width: 20px;
  height: 20px;
}

.btns-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.country-list {
  text-align: left;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.modal-form input {
  height: 35px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  outline: none;
  padding-left: 20px;
}

.modal-form input:focus {
  border: 2px solid rgba(156, 39, 176, 0.5);
  outline: none;
}

@media screen and (max-width: 768px) {
  .user-details-container {
    margin: 80px 20px;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .main-page-container {
    display: flex;
    flex-direction: column;
    margin: 80px 20px;
  }
}
